<div class='container'>
  <h1>ゲーム一覧</h1>

  <ul>
    <% @games.each do |game| %>
      <li>
        <%= game.name %> <!-- ゲーム名を表示（nameがモデルに存在する場合）-->
        <%= link_to '詳細', admin_game_path(game) %> <!-- 詳細ページへのリンク -->
      </li>
    <% end %>
  </ul>
</div>
