<div class='container'>
  <h1>ゲーム詳細</h1>

  <p>
    <strong>ジャンル:</strong>
    <%= @game.name %>
  </p>
  <p>
    <strong>ジャンル:</strong>
    <%= @game.genre.name %>
  </p>
  <%= link_to '編集', edit_admin_game_path(@game) %>

</div>