<div class="container">
  <h1>ジャンル一覧</h1>
  <%= button_to '新規作成', new_admin_genre_path, method: :get %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>ジャンル</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @genres.each do |genre| %>
        <tr>
          <td><%= genre.name %></td>
          <td><%= link_to '編集', edit_admin_genre_path(genre), class: 'btn btn-warning' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>